<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- Ca c'est pour les mobiles -->
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="Content/Css/AccueilWYES.css" />
		<title>WYES : When Your Eyes Speak</title>
	</head>

	<body>
		<div id="bloc_page">
			<header>
				<div id="logo">
					<a href="?controller=accueil"><img src="Content/image\logo_wyes.png" alt="Logo WYES" title="Logo: WYES" /></a>
				</div>

				<nav>
					<ul>
						<li><a href="?controller=accueil">Accueil</a></li>
						<li><a href="?controller=connexion">Connexion</a></li>
						<li><a href="?controller=inscription">Inscription</a></li>
						<li><a href="Views/view_boutique.html">Boutique</a></li>
					</ul>
				</nav>
			</header>


			<br />
			<br />


			<div id="banniere_wyes">
				<div id="banniere_description">
					<span id="souligne_actu">Notre Objectif:</span> Aider les personnes paralysées à retrouver la communication
					<a href="http://wyes.fr/" title="WYES : When Your Eyes Speak">En savoir plus <img src="Content/image/fleche_blanche_droite.png" alt="flèche"/></a>
				</div>
			</div>


			<section>
				<article>
					<div id="description_wyes">
						<h1>A propos de WYES</h1>
					</div>

					<div id="a_propos_wyes">
						<p>
							<div id="decalage">
								<em>Qui sommes-nous ?</em>
								<br />
								<br />
								WYES (When Your Eyes Speak) est une Start-Up composée de 3 membres :<br /><br />
								<div id="prenom_wyes">
									-    Maxime LOUBAR<br />
									-    Pierre JANKOWIEZ<br />
									-    Sarah MOUGHARBEL<br />
								</div><br />
								Elle a été fondée avec la volonté de faciliter la vie des personnes atteintes d’handicap.
								<br />
								<br />

								<em>Notre but ?</em>
								<br />
								<br />
								Nous souhaitons que les personnes atteintes de pathologies paralysantes (maladie de Charcot, Locked-in Syndrome, infirmité motrice cérébrale…) puissent de nouveaux communiquer avec leurs proches via un dispositif simple et efficace.
								<br />
								<br />

								<em>Comment y parvenir ?</em>
								<br />
								<br />
								Les lunettes connectées élaborées par notre groupe possèdent un capteur infrarouge relié aux branches permettant de détecter les clignements volontaires de l’utilisateur. Ce capteur est relié à un microprocesseur qui permet de traduire ce clignement volontaire en information.<br /><br /> Nous avons donc créé un moyen de communication simple et efficace, enrichi par une intelligence artificielle qui bien qu’aujourd’hui soit à l’état de prototype, permettra dans un futur proche l’interaction entre les patients et leurs proches.
							</div>
						</p>
					</div>
				</article>

				<aside>
					<div id="partie1">
						<img src="Content/image\communication.png" alt="Communication" title="Communication" /><br />
						<strong>Application de communication augmentée dédiée</strong>
						<p>
							Intuitive et simple, l'application optimise la vitesse de communication
						</p><br />
					</div>

					<div id="partie2">
						<img src="Content/image\intelligence.png" alt="Intelligence Artificielle" title="Intelligence Artificielle" /><br />
						<strong>L'intelligence artificielle au service de l'utilisateur</strong>
						<p>
							Le dispositif s'adapte à son utilisateur et facilite la communication
						</p><br />
					</div>

					<div id="partie3">
						<img src="Content/image\design.png" alt="Prix et Design" title="Prix et Design" /><br />
						<strong>Prix abordable et design confortable pour l'utilisateur</strong>
						<p>
							La solution technologique développée allie confort et simplicité
						</p>
					</div>
				</aside>
			</section>

			<footer>
				<div id="dans_footer">
					<div id="contact">
						<h1>Contact</h1>
						<p>Vous pouvez nous contacter par mail en cliquant juste <a href="mailto:maxime@wyes.fr">ICI</a></p>
						<p>Pour plus d'information, vous pouvez nous retrouver <a href="http://wyes.fr/">ICI</a></p>
					</div>

					<div id="suivez-nous">
						<h1>Suivez-Nous</h1>
						<p>
							<a href="https://www.facebook.com/teamwyes"><img src="Content/image/facebook.png" alt="Facebook" title="Facebook"></a>
							<a href="https://twitter.com/teamwyes"><img src="Content/image/twitter.png" alt="Twitter" title="Twitter"></a>
							<a href="https://www.linkedin.com/company/wyes"><img src="Content/image/linkedin.png" alt="LinkedIn" title="LinkedIn"></a>
						</p>
					</div>

					<div id="sites_wyes">
						<h1>Notre Site</h1>
						<p>
							<a href="http://wyes.fr/">WYES : When Your Eyes Speak</a>
						</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
