<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- Ca c'est pour les mobiles -->
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="Content/Css/InscriptionWYES.css" />
		<title>WYES : When Your Eyes Speak/Inscription</title>
	</head>

	<body>
		<div id="bloc_page">
			<header>
				<div id="logo">
					<a href="?controller=accueil"><img src="Content/image\logo_wyes.png" alt="Logo WYES" title="Logo: WYES" /></a>
				</div>

				<nav>
					<ul>
						<li><a href="?controller=accueil">Accueil</a></li>
						<li><a href="?controller=connexion">Connexion</a></li>
						<li><a href="?controller=inscription">Inscription</a></li>
						<li><a href="Views/view_boutique.html">Boutique</a></li>
					</ul>
				</nav>
			</header>


			<br />
			<br />


			<section>
				<article>
					<h1>Veuillez sélectionner votre Statut !</h1>

				  	<form action="?controller=inscription&action=vaSurInscription" method="post">
						<p>
					    	<label for="role" class="left"><span id="centre1">Votre Statut :</span></label><br /><br />

						   	<input value="patient"name="role" id="role" type="radio">
						   	<label for="patient">Patient</label>

						   	<input value="medecin"name="role" id="role" type="radio">
						    <label for="medecin">Medecin</label>

						    <input value="aidant"name="role" id="role" type="radio">
						   	<label for="aidant">Aidant</label>

							<input type="submit" value="Envoyer" />
					   	</p>
				  	</form>

				</article>
			</section>

			<footer>
				<div id="dans_footer">
					<div id="contact">
						<h1>Contact</h1>
						<p>Vous pouvez nous contacter par mail en cliquant juste <a href="mailto:maxime@wyes.fr">ICI</a></p>
						<p>Pour plus d'information, vous pouvez nous retrouver <a href="http://wyes.fr/">ICI</a></p>
					</div>

					<div id="suivez-nous">
						<h1>Suivez-Nous</h1>
						<p>
							<a href="https://www.facebook.com/teamwyes"><img src="Content/image/facebook.png" alt="Facebook" title="Facebook"></a>
							<a href="https://twitter.com/teamwyes"><img src="Content/image/twitter.png" alt="Twitter" title="Twitter"></a>
							<a href="https://www.linkedin.com/company/wyes"><img src="Content/image/linkedin.png" alt="LinkedIn" title="LinkedIn"></a>
						</p>
					</div>

					<div id="sites_wyes">
						<h1>Notre Site</h1>
						<p>
							<a href="http://wyes.fr/">WYES : When Your Eyes Speak</a>
						</p>
					</div>
				</div>
			</footer>

		</div>
	</body>
</html>
